@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: unset;
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(217, 100%, 97%);
}
@media only screen and (max-width: 1024px) {
  body {
    height: 800px;
  }
}

.wrapper {
  margin: auto;
  display: grid;
  gap: 0px;
  width: 70dvw;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 85% 15%;
  margin-top: 7%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: unset;
    display: unset;
    width: unset;
    margin-top: unset;
    border-radius: unset;
  }
}

.steps {
  height: 530px;
  min-width: 274px;
  grid-row: 1/3;
  background-image: url(images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 15px 0px 15px 15px;
}
@media only screen and (max-width: 1024px) {
  .steps {
    background-image: url(images/bg-sidebar-mobile.svg);
    min-width: unset;
    margin: unset;
    background-size: cover;
    background-position: center;
    height: 172px;
  }
}
.steps .step-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  margin: 15px 0 0 35px;
}
@media only screen and (max-width: 1024px) {
  .steps .step-wrapper {
    flex-direction: unset;
    height: unset;
    margin: unset;
    justify-content: center;
  }
}

.step-one,
.step-two,
.step-three,
.step-four {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
@media only screen and (max-width: 1024px) {
  .step-one,
  .step-two,
  .step-three,
  .step-four {
    grid-template-columns: 40px;
    margin-top: 25px;
  }
}
.step-one a,
.step-two a,
.step-three a,
.step-four a {
  grid-row: 1/3;
}
@media only screen and (max-width: 1024px) {
  .step-one .number,
  .step-one .cont,
  .step-two .number,
  .step-two .cont,
  .step-three .number,
  .step-three .cont,
  .step-four .number,
  .step-four .cont {
    display: none;
  }
}

.step-one a,
.step-two a,
.step-three a,
.step-four a {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 32px;
  width: 33px;
  text-align: center;
  margin-right: 15px;
  background-color: hsl(206, 94%, 87%);
}
.step-one a span,
.step-two a span,
.step-three a span,
.step-four a span {
  vertical-align: -webkit-baseline-middle;
  font-weight: 700;
}
@media only screen and (max-width: 1024px) {
  .step-one a,
  .step-two a,
  .step-three a,
  .step-four a {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }
}

.step-two a,
.step-three a,
.step-four a {
  background-color: unset;
}
.step-two a span,
.step-three a span,
.step-four a span {
  color: hsl(231, 100%, 99%);
}

@media only screen and (max-width: 1024px) {
  .step-one,
  .step-two,
  .step-three {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .step-one #numText {
    margin-left: -1px;
  }
}

@media only screen and (max-width: 1024px) {
  .step-four #numText {
    margin-left: -2px;
  }
}

.number {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.cont {
  font-weight: 700;
  color: hsl(231, 100%, 99%);
  letter-spacing: 1px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 73px);
}
@media only screen and (max-width: 1024px) {
  .button-wrapper {
    width: 90%;
    padding: 12px 0px;
    margin: auto;
  }
}
.button-wrapper .back-step {
  font-weight: 700;
  color: hsl(231, 11%, 63%);
  background: none;
  font-family: "Ubuntu", sans-serif;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
}
.button-wrapper .back-step:hover {
  cursor: pointer;
}
.button-wrapper .footer-step {
  padding: 14px 20px;
  color: hsl(229, 24%, 87%);
  background-color: hsl(213, 96%, 18%);
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 7px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
.button-wrapper .footer-step:hover {
  cursor: pointer;
  color: hsl(231, 100%, 99%);
}

@media only screen and (max-width: 1024px) {
  .form-content {
    background-color: white;
    width: 90%;
    position: absolute;
    top: 110px;
    left: 5%;
    border-radius: 10px;
    padding-bottom: 35px;
  }
}
.form-content .first-info {
  width: calc(100% - 142px);
  margin-left: 55px;
}
.form-content .first-info h1 {
  font-size: 33px;
  margin: auto;
  margin-top: 50px;
  color: hsl(213, 96%, 18%);
}
.form-content .first-info .sub-title {
  margin-top: 7px;
  margin-bottom: 35px;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (max-width: 1032px) {
  .form-content .first-info .sub-title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .first-info {
    width: calc(100% - 65px);
    margin-left: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .first-info h1 {
    font-size: 26px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .first-info .sub-title {
    font-size: 15px;
    line-height: 25px;
  }
}
.form-content .first-info .name-input,
.form-content .first-info .phone-input,
.form-content .first-info .email-input {
  margin-top: 20px;
}
.form-content .first-info .name-input label,
.form-content .first-info .phone-input label,
.form-content .first-info .email-input label {
  color: hsl(213, 96%, 18%);
  margin-bottom: 5px;
}
.form-content .first-info .name-input input,
.form-content .first-info .phone-input input,
.form-content .first-info .email-input input {
  width: 100%;
  height: 45px;
  font-family: "Ubuntu", sans-serif;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid hsl(231, 11%, 63%);
  font-size: 16px;
  font-weight: bold;
  color: hsl(213, 96%, 18%);
  outline: none;
}
.form-content .first-info .name-input input:hover,
.form-content .first-info .phone-input input:hover,
.form-content .first-info .email-input input:hover {
  cursor: pointer;
}
.form-content .first-info .name-input input:focus,
.form-content .first-info .phone-input input:focus,
.form-content .first-info .email-input input:focus {
  border: 1px solid hsl(243, 100%, 62%);
  cursor: text;
}
.form-content .first-info .name-input input::-moz-placeholder, .form-content .first-info .phone-input input::-moz-placeholder, .form-content .first-info .email-input input::-moz-placeholder {
  color: hsl(231, 11%, 63%);
}
.form-content .first-info .name-input input::placeholder,
.form-content .first-info .phone-input input::placeholder,
.form-content .first-info .email-input input::placeholder {
  color: hsl(231, 11%, 63%);
}
.form-content .first-info .name-input .err-reminder1,
.form-content .first-info .name-input .err-reminder2,
.form-content .first-info .name-input .err-reminder3,
.form-content .first-info .name-input .err-valid-email,
.form-content .first-info .phone-input .err-reminder1,
.form-content .first-info .phone-input .err-reminder2,
.form-content .first-info .phone-input .err-reminder3,
.form-content .first-info .phone-input .err-valid-email,
.form-content .first-info .email-input .err-reminder1,
.form-content .first-info .email-input .err-reminder2,
.form-content .first-info .email-input .err-reminder3,
.form-content .first-info .email-input .err-valid-email {
  display: none;
  float: right;
  margin: 0;
  margin-top: -23px;
  color: hsl(354, 84%, 57%);
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .form-content .first-info .name-input .err-reminder1,
  .form-content .first-info .name-input .err-reminder2,
  .form-content .first-info .name-input .err-reminder3,
  .form-content .first-info .name-input .err-valid-email,
  .form-content .first-info .phone-input .err-reminder1,
  .form-content .first-info .phone-input .err-reminder2,
  .form-content .first-info .phone-input .err-reminder3,
  .form-content .first-info .phone-input .err-valid-email,
  .form-content .first-info .email-input .err-reminder1,
  .form-content .first-info .email-input .err-reminder2,
  .form-content .first-info .email-input .err-reminder3,
  .form-content .first-info .email-input .err-valid-email {
    font-size: 10px;
    margin-top: -17px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .first-info .name-input,
  .form-content .first-info .phone-input,
  .form-content .first-info .email-input {
    font-size: 14px;
  }
}
.form-content .first-info .name-input label,
.form-content .first-info .phone-input label,
.form-content .first-info .email-input label {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .form-content .first-info .name-input input,
  .form-content .first-info .phone-input input,
  .form-content .first-info .email-input input {
    height: 40px;
    font-size: 14px;
  }
}
.form-content .second-info {
  width: calc(100% - 142px);
  margin-left: 55px;
  width: calc(100% - 130px);
}
.form-content .second-info h1 {
  font-size: 33px;
  margin: auto;
  margin-top: 50px;
  color: hsl(213, 96%, 18%);
}
.form-content .second-info .sub-title {
  margin-top: 7px;
  margin-bottom: 35px;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (max-width: 1032px) {
  .form-content .second-info .sub-title {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1050px) {
  .form-content .second-info {
    width: calc(100% - 110px);
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .second-info {
    width: calc(100% - 50px);
    margin-left: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .second-info h1 {
    font-size: 26px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .second-info .sub-title {
    font-size: 15px;
    line-height: 25px;
  }
}
.form-content .third-info {
  width: calc(100% - 142px);
  margin-left: 55px;
  width: calc(100% - 128px);
}
.form-content .third-info h1 {
  font-size: 33px;
  margin: auto;
  margin-top: 50px;
  color: hsl(213, 96%, 18%);
}
.form-content .third-info .sub-title {
  margin-top: 7px;
  margin-bottom: 35px;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (max-width: 1032px) {
  .form-content .third-info .sub-title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .third-info {
    width: calc(100% - 51px);
    margin-left: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .third-info h1 {
    font-size: 26px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .third-info .sub-title {
    font-size: 15px;
    line-height: 25px;
  }
}
.form-content .fourth-info {
  width: calc(100% - 142px);
  margin-left: 55px;
  width: calc(100% - 128px);
}
.form-content .fourth-info h1 {
  font-size: 33px;
  margin: auto;
  margin-top: 50px;
  color: hsl(213, 96%, 18%);
}
.form-content .fourth-info .sub-title {
  margin-top: 7px;
  margin-bottom: 35px;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (max-width: 1032px) {
  .form-content .fourth-info .sub-title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .fourth-info {
    width: calc(100% - 50px);
    margin-left: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .fourth-info h1 {
    font-size: 26px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .form-content .fourth-info .sub-title {
    font-size: 15px;
    line-height: 25px;
  }
}

.footer {
  margin-left: 55px;
}
@media only screen and (max-width: 1024px) {
  .footer {
    margin-left: unset;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
  }
}

.plan-holder {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .plan-holder {
    flex-direction: column;
  }
}
.plan-holder .plan-label {
  display: block;
  height: 112%;
}
.plan-holder .plan-label:hover {
  cursor: pointer;
}
.plan-holder .plan-label:checked + label {
  border-color: yellow;
}
.plan-holder .arcade-plan:has(input[type=radio]:checked),
.plan-holder .advanced-plan:has(input[type=radio]:checked),
.plan-holder .pro-plan:has(input[type=radio]:checked) {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(231, 100%, 99%);
}
.plan-holder #r1,
.plan-holder #r2,
.plan-holder #r3 {
  display: none;
}
.plan-holder .arcade-plan,
.plan-holder .advanced-plan,
.plan-holder .pro-plan {
  width: 40%;
  border-radius: 10px;
  border: 2px solid hsl(229, 24%, 87%);
  padding-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .plan-holder .arcade-plan,
  .plan-holder .advanced-plan,
  .plan-holder .pro-plan {
    width: 98%;
    padding-bottom: unset;
  }
}
.plan-holder .arcade-plan:hover,
.plan-holder .advanced-plan:hover,
.plan-holder .pro-plan:hover {
  border-color: hsl(243, 100%, 62%);
  cursor: pointer;
}
.plan-holder .arcade-plan img,
.plan-holder .advanced-plan img,
.plan-holder .pro-plan img {
  margin: 20px 0 0 15px;
}
@media only screen and (max-width: 1024px) {
  .plan-holder .arcade-plan img,
  .plan-holder .advanced-plan img,
  .plan-holder .pro-plan img {
    margin: 13px 0 0 15px;
    vertical-align: top;
  }
}
@media only screen and (max-width: 1024px) {
  .plan-holder .arcade-plan div,
  .plan-holder .advanced-plan div,
  .plan-holder .pro-plan div {
    display: inline-block;
    padding-bottom: 15px;
  }
}
.plan-holder .arcade-plan h4,
.plan-holder .advanced-plan h4,
.plan-holder .pro-plan h4 {
  padding-right: 10px;
  margin: 34px 0 10px 15px;
  color: hsl(213, 96%, 18%);
}
@media only screen and (max-width: 1024px) {
  .plan-holder .arcade-plan h4,
  .plan-holder .advanced-plan h4,
  .plan-holder .pro-plan h4 {
    margin: 15px 0 5px 12px;
  }
}
.plan-holder .arcade-plan span,
.plan-holder .advanced-plan span,
.plan-holder .pro-plan span {
  padding-right: 10px;
  margin-left: 15px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (max-width: 1024px) {
  .plan-holder .arcade-plan span,
  .plan-holder .advanced-plan span,
  .plan-holder .pro-plan span {
    font-size: 15px;
    margin-left: 12px;
  }
}
.plan-holder .arcade-plan p,
.plan-holder .advanced-plan p,
.plan-holder .pro-plan p {
  margin: 10px 10px 0px 15px;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .plan-holder .arcade-plan p,
  .plan-holder .advanced-plan p,
  .plan-holder .pro-plan p {
    font-size: 14px;
    font-weight: 600;
    margin: 6px 0 0px 12px;
  }
}
.plan-holder .advanced-plan {
  margin: 0px 25px;
}
@media only screen and (max-width: 1024px) {
  .plan-holder .advanced-plan {
    margin: 10px 0;
  }
}

.err-border {
  border-color: hsl(354, 84%, 57%) !important;
}

.mon-year {
  text-align: center;
  border-radius: 10px;
  background-color: hsl(217, 100%, 97%);
  height: 60px;
  font-size: 16px;
  margin-top: 20px;
}
.mon-year .err-msg {
  color: hsl(354, 84%, 57%);
  font-size: 16px;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .mon-year .err-msg {
    margin-top: 29px;
  }
}
.mon-year .mon-year-text {
  padding-top: 19px;
}
.mon-year .mon-year-text .mon-text {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}
.mon-year .mon-year-text .mon-year {
  color: hsl(231, 11%, 63%);
  font-weight: bold;
}
.mon-year .mon-year-text .switch {
  position: relative;
  display: inline;
  margin: 0 49px 0 15px;
}
.mon-year .mon-year-text .switch label {
  width: 55px;
  height: 23px;
  background-color: #999;
  position: absolute;
  top: -1px;
  left: 0;
  border-radius: 50px;
}
.mon-year .mon-year-text .switch input[type=checkbox] {
  visibility: hidden;
}
.mon-year .mon-year-text label[for=checkbox1]:hover {
  cursor: pointer;
}
.mon-year .mon-year-text .switch label:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 500ms;
  background-color: white;
}
.mon-year .mon-year-text .switch .look:checked + label:after {
  left: 32px;
}
.mon-year .mon-year-text .switch .look:checked + label {
  background-color: hsl(213, 96%, 18%);
}

.add-wrapper label {
  -webkit-tap-highlight-color: transparent;
}
.add-wrapper label:nth-child(2) .add-block,
.add-wrapper label:nth-child(3) .add-block {
  margin-top: 15px;
}
@media only screen and (min-width: 408px) {
  .add-wrapper label[for=first-opt] .add-text h3,
  .add-wrapper label[for=third-opt] .add-text h3 {
    margin-top: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .add-wrapper label[for=second-opt] .add-text h3 {
    margin-top: 22px;
  }
}
.add-wrapper .add-block:has(input[type=checkbox]:checked) {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(231, 100%, 99%);
}
.add-wrapper .add-block:has(input[type=checkbox]:not(:checked)) {
  border-color: hsl(229, 24%, 87%);
}
.add-wrapper .add-block {
  display: flex;
  height: 75px;
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 10px;
}
@media only screen and (max-width: 1070px) {
  .add-wrapper .add-block {
    height: 85px;
  }
}
.add-wrapper .add-block:hover {
  border-color: hsl(243, 100%, 62%);
  cursor: pointer;
}
.add-wrapper .add-block input {
  margin: 28px 23px;
  width: 20px;
  height: 20px;
  accent-color: hsl(243, 100%, 62%);
}
@media only screen and (max-width: 1024px) {
  .add-wrapper .add-block input {
    margin: 33px 14px;
    width: 30px;
  }
}
.add-wrapper .add-block .add-text h3 {
  margin-bottom: 7px;
  font-size: 16px;
  color: hsl(213, 96%, 18%);
}
.add-wrapper .add-block .add-text h3:nth-child(2) {
  margin-top: 22px;
}
.add-wrapper .add-block .add-text p {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
  margin-top: 5px;
}
.add-wrapper .add-block span {
  margin: 32px 25px 0 auto;
  color: hsl(243, 100%, 62%);
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .add-wrapper .add-block span {
    margin: 35px 12px 0 auto;
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .add-wrapper .add-block:nth-child(1) .add-text p {
    padding-right: 10px;
  }
}

.summ-wrapper {
  background-color: hsl(217, 100%, 97%);
  border-radius: 8px;
  padding: 1px 20px 5px 20px;
}
.summ-wrapper .summ-head p {
  font-size: 16px;
  margin-bottom: -15px;
  font-weight: bold;
  color: hsl(213, 96%, 18%);
}
.summ-wrapper .summ-head a {
  color: hsl(231, 11%, 63%);
  margin-top: 14px;
  font-size: 14px;
}
.summ-wrapper .summ-head span {
  float: right;
  margin-top: -15px;
  font-weight: bold;
  color: hsl(213, 96%, 18%);
}
@media only screen and (max-width: 1024px) {
  .summ-wrapper .summ-head span {
    margin-top: -10px;
  }
}
.summ-wrapper .summ-line1 {
  margin-top: 20px;
  border-top: 1px solid hsl(231, 11%, 63%);
  padding-top: 5px;
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
.summ-wrapper .summ-line1 span {
  float: right;
  margin-top: -31px;
}
@media only screen and (max-width: 1024px) {
  .summ-wrapper .summ-line1 span {
    color: hsl(213, 96%, 18%);
  }
}
.summ-wrapper .summ-line2,
.summ-wrapper .summ-line3 {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
.summ-wrapper .summ-line2 span,
.summ-wrapper .summ-line3 span {
  float: right;
  margin-top: -31px;
}
@media only screen and (max-width: 1024px) {
  .summ-wrapper .summ-line2 span,
  .summ-wrapper .summ-line3 span {
    color: hsl(213, 96%, 18%);
  }
}

.summ-total {
  padding: 1px 18px;
}
@media only screen and (max-width: 1024px) {
  .summ-total {
    position: relative;
    top: 15px;
  }
}
.summ-total p {
  color: hsl(231, 11%, 63%);
  font-size: 16px;
  margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
  .summ-total p {
    margin: 5px 0px;
  }
}
.summ-total span {
  float: right;
  margin-top: -37px;
  color: hsl(243, 100%, 62%);
  font-weight: bolder;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  .summ-total span {
    margin-top: -27px;
  }
}

.thanks-info {
  display: block;
  text-align: center;
  margin-top: 130px;
}
@media only screen and (max-width: 1024px) {
  .thanks-info {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 1024px) {
  .thanks-info img {
    width: 55px;
  }
}
.thanks-info h1 {
  color: hsl(213, 96%, 18%);
}
.thanks-info .thanks-desc {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
  width: 55%;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .thanks-info .thanks-desc {
    width: 88%;
    padding-bottom: 45px;
    font-size: 16px;
  }
}

.submit-page-next {
  background-color: hsl(243, 100%, 62%) !important;
  color: white;
}
.submit-page-next:hover {
  background-color: rgb(156, 151, 255) !important;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */